@import '../../css-config/mixin.scss';
.vehicle-model {
    min-height: 100vh;
    width: 80%;
    text-align: center;
    padding-top: 50px;
    margin: 0 auto;
    @include md{
        width: 100%;
        padding-top: 200px;
    }

    h2 {
        font-weight: 500;
    }

    h1 {
        font-weight: 700;
    }

    .f{
        display: flex;
        justify-content: center;
        p {
        margin-top: 10px;
        width: 440px;
        color: #818082;
        }
    }

    .models {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        @include lg{
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
        }

        .left {
            margin-top: 15px;
            height: 400px;
            max-width: 100%;
            @include md{
                margin-top: 0;
                margin-left: 170px;
            }
            @include lg{
                margin-left: 0;
            }
            li {
                height: 40px;
                display: flex;
                align-items: center;
                margin-top: 10px;
                max-width: 300px;
                min-width: 180px;
                font-weight: 700;
                cursor: pointer;
                text-align: left;
                @include md{
                    height: 50px;
                    width: 200%;
                }
            }

            li:hover {
                background-color: #ff3615;
                color: white;
            }

            .bg {
                background: rgba(0, 0, 0, 0.1);
            }
        }

        img {
            height: 200px;
            width: 300px;
            margin-top: -80px;
            margin-left: -20px;
            @include md{
                margin-top: -40px;
            }
            @include lg{
                height: 400px;
                width: 600px;
                margin-left: 0;
                margin-top: 0;
            }
        }

        .right {
            margin-left: -20px;
            @include md{
                margin-left: 190px;
            }
            @include lg{
                margin-left: 0;
            }
            li {
                border: 1px solid black;
                display: flex;
                height: 40px;
                width: 300px;
                padding-left: 20px;
                align-items: center;
                @include md{
                    width: 250px;
                }

                .bar {
                    width: 1px;
                    height: 20px;
                    background-color: #000;
                    font-weight: 400;
                    position: absolute;
                    margin-left: 110px;
                }

                .ri {
                    position: absolute;
                    margin-left: 140px;
                }
            }

            #price {
                font-size: 19px;
                color: white;
                background-color: #ff3615;
                border: none;
                justify-content: left;

                b {
                    font-size: 20px;
                    font-weight: 700;
                }
            }

        }

        button {
            width: 250px;
            height: 50px;
            color: white;
            background-color: #ff3615;
            border: none;
            margin-top: 20px;
            cursor: pointer;
        }
    }


}