@import "../../css-config/mixin.scss";

.nav {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 5;
    padding-top: 15px;

    @include xl {
        height: 60px;
        padding-left: 200px;
        padding-right: 200px;
        overflow: hidden;
    }

    .left ul {
        display: flex;

        li {
            font-weight: 500;
            font-size: 10pt;
            cursor: pointer;
            padding: 10px;
            list-style: none;

            @include md {
                font-size: default;
            }

            img {
                height: 45px;
                margin-top: -5px;
                @include lg{
                    margin-top: 0;
                }
            }
        }
    }

    .mid ul {
        position: absolute;

        @include xl {
            display: flex;
            position: relative;
        }

        li {
            margin-left: -475px;
            background-color: rgba(0, 0, 0, 0.8);
            border-bottom: 2px solid white;
            border-radius: 0;
            list-style: none;
            font-weight: 500;
            display: flex;
            height: 60px;
            justify-content: center;
            cursor: pointer;
            padding: 10px;
            top: 0;
            @include lg{
                margin-left: 0;
                border-radius: 30px;
                width: default;
                height: 40px;
                border: none;
                background-color: white;
            }
        }

        li:hover {
            background-color: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
    }

    .right ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 10px;
            font-weight: 500;
            cursor: pointer;
            padding: 10px;
            list-style: none;
            position: absolute;
            display: none;

            @include xl {
                position: relative;
                display: block;
            }

            button {
                background-color: #ff3615;
                height: 35px;
                width: 100px;
                border-radius: 3px;
                color: #fff;
                border: hidden;
                cursor: pointer;
            }
        }
    }
}

.burger {
    font-size: 22pt;
    margin-top: -25px;
    margin-right: 15px;

    @include lg {
        display: none;
        position: absolute;
    }
}

@media only screen and (max-width: 700px) {
    .mid{
        margin-top: -90px;
    }
    .mid ul li{
        width: 100vh;
        height: 100vh;
        color: white;
        align-items: center;
        justify-content: center;
    }
}