@import "../../css-config/mixin.scss";

.feature {
    padding-right: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;

    @include md {
        padding-left: 0;
        padding-right: 0;
        width: 60%;
        margin: 0 auto;
        padding-top: 240px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 20px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;

        @include md {
            flex-direction: row;
            margin-top: 30px;
        }

        h3 {
            font-size: 18pt;
        }

        .icon {
            font-size: 30pt;
            color: #ff3615;
            margin-top: 20px;
            @include lg
            {padding: 40px;
            margin-top: 0;}
        }
    }
}