@import "../../css-config/mixin.scss";

.book {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;

    @include md {
        padding-left: 15%;
        padding-right: 18%;
        padding-top: 120px;
    }

    h1{
        width: 100%;
        margin-left: 20px;
        padding-bottom: 10px;
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0px;
        margin-left: 20px;
        @include md{
            flex-direction: row;
            margin-left: 0;
            margin-top: 30px;
        }

        h3 {
            display: flex;

            .icon {
                color: #ff3615;
                margin-top: 2px;
            }
        }

        select {
            height: 38px;
            width: 175px;
            margin-left: 20px;
            border: hidden;
        }

        input {
            height: 38px;
            width: 175px;
            border: hidden;
            margin-left: 24px;
        }

        button {
            width: 300px;
            height: 40px;
            margin-right: -125px;
        }
    }

}

option{
    height: 40px;
}